.footer{
    display: flex;
    width: 100%;
    height: fit-content;
    padding: 1rem;
    gap: 10px;
    background: #001b33;    
    align-items: center;   
    justify-content: space-between; 
}

.authors{
    display: flex;
    font-weight: 200;
    gap: 2rem;
    padding: 0 2rem;
}

.copy{
    padding-right: 20px;
}

.author{
    display: flex;
    flex-direction: column;    
    justify-content: center;
    gap: 6px;
}

.author p:first-child{
    font-weight: 700;
}

.author p:last-child{
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 12px;
}

@media screen and (max-width: 700px) {
    .footer{
        flex-direction: column;
        padding: 2rem 0;        
    }    
}

@media screen and (max-width: 600px){
    .authors{
        flex-direction: column;
    }
}