.footer{
    display: flex;
    width: 100%;
    height: 5rem;
    background: black;    
    align-items: center;
}

.authors{
    display: flex;
    font-weight: 200;
    gap: 1rem;
    padding: 0 2rem;
}