.mainContent {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;   
}

.options {
  background: rgb(94, 94, 255);
  width: 30%;
  height: 77vh;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 20px;
  border-radius: 10px 0 0 10px;
  position: relative;
}

.btns{
  margin-bottom: 80px;
}

.welcome{
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 77vh;
  background: white;
  border-radius: 0 10px 10px 0;
  gap: 20px;
}

.imageContainer{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 0 0 10px;
  position: absolute;
}

.borders{
  border-radius: 10px;
}

.transitionForm {
  display: flex;
  flex-direction: column;
  width: 30%;
  z-index: 1;
  transform: translateX(-5vw); /* Ajuste para que inicie justo detrás de .options */
  /* animation: moverX 1s ease-in-out forwards;   */
}

.transitionForm.animate{
  animation: moverX 1s ease-in-out forwards;  
}

.hidden{
  display: none;
}

.welcomeButtons{
  display: none;
  gap: 10px;  
}

@keyframes moverX {
  0% {
    transform: translateX(-30vw); /* Inicia justo detrás de .options */
  }
  100% {
    transform: translateX(0);
  }
}


@media screen and (max-width: 1300px){
  .options{
    display:none;
  } 

  .welcome{
    width: 100%;
    border-radius: 10px;
  }

  .transitionForm{
    width: 100%;
    padding: 50px;
    transform: translateX(0);
  }

  .btns{
    margin-bottom: 0;
  }

  .welcomeButtons{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
  }
}