
.mainContainer {    
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  height: 80vh;

} 
  
  .cardContainer {
    position: relative;
    max-width: 90%;
    margin: auto;
    height: 85%;
    background-color: #f3e8ff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  /* Contenedor flexible */
  .flexContainer {
    display: flex;
  }
  
  /* Lado izquierdo */
  .leftSide {
    width: 33.333%;
    border-right: 1px solid #d8b4fe;
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid #d8b4fe;
  }
  
  .circleText {
    font-size: 14px;
    font-weight: 500;
    color: #6b21a8;
    text-align: center;
  }
  
  /* Lado derecho */
  .rightSide {
    width: 66.666%;
    padding: 24px;
  }
  
  .headerText h2 {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: #581c87;
    margin-bottom: 24px;
  }
  
  /* Barra de progreso */
  .progressSection {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  
  .smallCircle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 2px solid #d8b4fe;
  }
  
  .progressBarContainer {
    flex: 1;
  }
  
  .progressBar {
    height: 32px;
    background-color: #ddd6fe;
    border-radius: 5px;
  }
  
  .progressDescription {
    margin-top: 8px;
    font-size: 12px;
    color: #9333ea;
    text-align: left;
  }
  