/* Contenedor principal
.mainContainer {
    margin: 2%;
    height: 85vh;
    padding: 24px;
    background-color: #f3e8ff;
  } */
  .username {
    margin-top: 10px; /* Separar el nombre del círculo */
    font-size: 16px; /* Tamaño de fuente adecuado */
    font-weight: bold; /* Negrita */
    font-family: 'Georgia', serif; /* Fuente formal */
    color: #581c87;
    text-align: center;
  }
  
  /* Línea de separación */
  .divider {
    margin: 24px 0; /* Espacio superior e inferior */
    border: none;
    border-top: 2px solid #d8b4fe; /* Color y grosor de la línea */
  }
  .predictions{
    position: flex;
    color:#581c87
  }
  .cardContainer {
    position: relative;
    max-width: 90%;
    margin: auto;
    height: 85%;
    background-color: #f3e8ff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  /* Contenedor flexible */
  .flexContainer {
    display: flex;
  }
  
  /* Lado izquierdo */
  .leftSide {
    width: 33.333%;
    border-right: 1px solid #d8b4fe;
    padding: 24px;
    display: flex;
    flex-direction: column; /* Apila elementos en columna */
    justify-content: center; /* Centra el contenido verticalmente */
    align-items: center; /* Centra el contenido horizontalmente */
  }
  
  .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid #d8b4fe;
  }
  
  .circleText {
    font-size: 14px;
    font-weight: 500;
    color: #6b21a8;
    text-align: center;
  }
  
  /* Lado derecho */
  .rightSide {
    width: 66.666%;
    padding: 24px;
  }
  
  .headerText h2 {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: #581c87;
    margin-bottom: 24px;
  }
  
  /* Barra de progreso */
  .progressSection {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  
  .smallCircle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 2px solid #d8b4fe;
  }
  
  .progressBarContainer {
    flex: 1;
  }
  
  .progressBar {
    height: 32px;
    background-color: #ddd6fe;
    border-radius: 5px;
  }
  
  .progressDescription {
    margin-top: 8px;
    font-size: 12px;
    color: #9333ea;
    text-align: left;
  }
  
  .ul {
    list-style-type: none; /* Elimina los puntos de la lista */
    padding: 0; /* Opcional: elimina el espacio de los márgenes de la lista */
  }
  
  .lista {
    font-weight: bold; /* Negrita */
    font-family: 'Georgia', serif; /* Fuente formal */
    margin: 5px 0; /* Espacio entre elementos */
  }
  
  /* Ajustar el texto de la barra de progreso */
  .progressDescription {
    font-size: 12px;
    font-weight: bold; /* Negrita */
    font-family: 'Georgia', serif; /* Fuente formal */
    color: #9333ea;
    text-align: left;
  }