
.username {
    margin-top: 10px;     
    font-size: 16px; 
    font-weight: bold; 
    font-family: sans-serif;
    color: #581c87;
    text-align: center;
  }
  
  .divider {
    margin: 24px 0;
    border: none;
    border-top: 2px solid #d8b4fe;
  }

  .predictions{
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 300px;
    overflow: auto;
    color:#581c87;
    scrollbar-gutter: stable both-edges;
  }

  .predictions::-webkit-scrollbar{    
      width: 10px;    
  }

.predictions::-webkit-scrollbar {
  width: 10px;
}


.predictions::-webkit-scrollbar-track {
  background: #949393;
  border-radius: 50px;
}

.predictions::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: #d8b4fe;
}

.predictions::-webkit-scrollbar-thumb:hover {
  background: #555;
}

  .cardContainer {    
    position: relative;
    max-width: 90%;
    margin: auto;    
    background-color: #ddd6fe;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;    
  }
    
  .flexContainer {
    display: flex;
  }
    
  .leftSide {
    color: black;
    /* width: 33.333%; */
    width: 500px;
    border-right: 1px solid #d8b4fe;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
  }

  .routeTitle{
    font-weight: bold;
  }

  .routeTitle span{
    font-weight: normal;
  }

  .welcome{
    display: flex;
    flex-direction: column;
  }
  
  .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;    
  }

  .planet{
    width: 100%;
    height: 100%;
    object-fit: contain;
    scale: 1;
  }
  
  .circleText {
    font-size: 14px;
    font-weight: 500;
    color: #6b21a8;
    text-align: center;
  }
    
  .rightSide {
    /* width: 66.666%; */
    flex: 1;
    padding: 24px;
  }
  
  .headerText h2 {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: #581c87;
    margin-bottom: 24px;
  }
  
  .progressSection {
    display: flex;
    align-items: center;    
    gap: 16px;
  }
  
  .smallCircle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 2px solid #d8b4fe;
  }
  
  .progressBarContainer {
    flex: 1;
  }
  
  .progressBar {
    height: 32px;
    background-color: #ddd6fe;
    border-radius: 5px;
  }
  
  .progressDescription {
    margin-top: 8px;
    font-size: 12px;
    color: #9333ea;
    text-align: left;
  }
  
  .routes {
    display: flex;
    flex-direction: column;
    gap: 5px;
    list-style-type: none;    
  }
  
  .routeContainer {    
    font-family: sans-serif;
    margin-right: 10px;
    padding: 8px;
    border-radius: 8px;
    border: solid 1px #d8b4fe;
  }

  .routesTitle{
    font-size: 24px;
    padding: 5px 10px;
    font-weight: bold;
    color: black;
  }
  
  .progressDescription {
    font-size: 12px;
    font-weight: bold; 
    font-family: sans-serif;
    color: #9333ea;
    text-align: left;
  }
  
  .stats{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;        
  }

  .statsTitle{
    color: black;
    font-weight: bold;
    font-size: 10px;
  }

@media screen and (max-width: 900px) {
  .flexContainer{
    flex-direction: column;
  }
  .leftSide{
    width: 100%;
    border: none;
  }
}